<div class="user__card box">
  <div class="user__image text-center">
    <img
      src="../../../assets//images/paper&ribbon.jpg"
      class="img-fluid"
      alt="user image"
    />
  </div>

  <div class="user__body text-center">
    <small class="h3 text-muted">{{ productName }}</small>
    <hr class="mb-3" />
    <span class="text-muted">{{ productRate }}</span
    ><br />
    <small class="text-muted font-italic"> </small>
  </div>

  <div class="user__footer text-center">
    <button class="btn btn-outline-primary">View product</button>
  </div>
</div>
