.box::after {
  content: "";
  border-radius: 5px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  box-shadow: 0 5px 15px rgba(168, 2, 2, 0.3);
  opacity: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.box:hover {
  -webkit-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}

.box:hover::after {
  opacity: 5;
}

.user__card {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .user__image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    border-radius: 1rem 1rem 0 0;

    img {
          border: solid 3px var(--crafts-primary-color);
          height:120px;
          border-radius:50%;
          -moz-border-radius:50%;
          -webkit-border-radius:50%;
          width:120px;
    }
  }

  .user__body {
    height: 40%;
    padding: 10px 30px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .user__footer {
    height: 15%;
    border-radius: 0 0 1rem 1rem;
    padding: 5px 10px;
  }
}
//image size
.img-fluid
{
  height: 125px;
  width: 100%;
  object-fit: cover;
  object-position: center center;
}
