<div class="homepage">
  <div class="homepage__intro text-center">
    <div class="container">
      <h1>Don't be Vague, Ask for Vintage Crafts, a scrapbooking Company!!</h1>
    </div>
  </div>

  <div class="container home__hearder text-center">
    <h2 style="position: relative; top: 40px">Our Products</h2>
  </div>

  <div class="homepage__body">
    <div class="container">
      <div class="homepage__category">
        <div style="height: 5vh"></div>
        <div class="homepage__cards">
          <div class="container">
            <div class="row">
              <div class="col-md-3 cards" *ngFor="let product of productCards">
                <app-product-cards
                  [productName]="product.name"
                  [productRate]="product.rate"
                ></app-product-cards>
              </div>
            </div>
          </div>
        </div>
        <br /><br />
        <br /><br />
      </div>
    </div>
  </div>
</div>
