.homepage {
  display: flex;
  flex-direction: column;

  .homepage__intro {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background-image: linear-gradient(
        to right top,
        #cacaca69,
        #e3e3e37e,
        #ddd1e448,
        #e5e5e500
      ),
      url("../../../assets/images/scrapbook.jpg");

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    h1 {
      margin-top: -50px;
      color: #ffffff;
      font-style: italic;
    }
  }

  .homepage__body {
    display: flex;
    flex-direction: column;
    height: auto;
    padding-top: 10vh;

    .homepage__category {
      height: 30vh;

      .category {
        cursor: pointer;
        transition: 600ms;

        font-weight: bolder;
        color: var(--crafts-primary-color);

        &:hover {
          letter-spacing: 2px;
        }
      }
    }

    @media only screen and (min-width: 600px) {

      .home__hearder {
        height: 10vh !important;
        position: relative;
        top: 300px;
      }


    }
    .homepage__cards {
      height: auto;

      .cards {
        flex: 0 0 auto;
        width: 20%;
        border: double #adadad;
        border-radius: 10%;
        margin-left: 25px;
        margin-right: 25px;
        align-content: center;
      }

    }
  }
}
